<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dream_on.springboot.mapper.CommentMapper">
 	<insert id="writeComment">
        INSERT INTO comment (
          project_id, user_id, comment
        ) VALUES (
          #{projectId}, #{userId}, #{comment}
        )
    </insert>
 </mapper>